* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
 
}
 
.tic_tac_toe {
    margin-top: 100px;
    
    display: grid;
    grid-template-columns: repeat(3, 100px);
    justify-content: center;
    
}
 
.square {    
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 50px;
    width: 100px;
    height: 100px;
    border: 1px solid black;
}
 
.message {
    margin-top: 30px;
    color: red;
    text-align: center;
    font-size: 50px;
}